/* 
    1.Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.title{
    position: absolute;
    top: 4.5rem;
}
.sub{
    width: 28.8rem;
    height: 21.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 12.8rem;
}
.sub-1{
    width: 28.8rem;
    height: 7.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 4.5rem;
    text-align: center;
}
.sub-2{
    width: 28.8rem;
    height: 3.6rem;
    text-align: center;
    font-size: 1.4rem;
    color: var(--soft-orange);
    font-weight: 500;
}
.menu-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.menu-container button{
    width: auto;
    height: 4.8rem;
    margin-top: 3.3rem;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    padding: 15px 48px 15px 12px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: 700;
}
.header-icon__button{
    position: absolute;
    top: 20.1rem;
    right: 5rem;
}
    /* Section one */
.section-one{
    display: flex;
    align-items: center;
    margin: 6.5rem 1.5rem;
    flex-direction: column;
    
}
.text-container-one{
    margin-top: 4rem;
    width: 100%;
    height: auto;
}
.text-container-one h2{
    text-align: center;
    font-size: 2.4rem;
    color: var(--warm-black);
    margin-top: 2.4rem;

}
.text-container-one p {
    text-align: center;
    font-size: 1.4rem;
    color: #757575;
    margin: 2.4rem;
    font-weight: 500;
}
table{
    padding-right: 1rem;    
}
tbody{
    font-family: inter;
}
th{
    color: #FF9536;
    font-size: 1.8rem;
}
td{
    width: 10.1rem;
    height: 3.9rem;
    background-color: #fff;
}
.divisa{
    font-size: 1.6rem;
    padding: 12px 10px;
    color: #B5B0AC;
}
.first{
    border-radius: 8px 0px 0px 0px;
}
.two{
    border-radius: 0px 0px 0px 8px;
}
.tree{
    border-radius: 0px 8px 0px 0px;
}
.four{
    border-radius: 0px 0px 8px 0px;
}
.precio{
    font-size: 1.4rem;
    padding: 12px 10px;
    color: #757575;
}
.icon-graph{
    margin-left: 1.1rem;
}
.next{
    width: 1rem;
    height: 30px;
    margin: .3rem
}
.text-divisas{
    width: auto;
    height: 3.1rem;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--soft-orange);
    margin-top: 1.6rem;
    font-size: 1.2rem;
    font-family: inter;
}
.text-divisas span{
    font-weight: 700;
}
    /* Section two */
.section-two{
    width: 100%;
    height: auto;
    background-color: var(--warm-black); 
    display: flex;
    padding: 0px 20px  6rem;
    align-items: center;
    flex-direction: column;

}
.section-two h2{
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 2.4rem;
    margin-top: 6rem;
}
.section-two>p{
    width: 100%;
    margin-top: 2.4rem;
    text-align: center;
    color: #808080;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}
.box {
    width: 100%;
    height: auto;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    padding: 1.7rem;
    /* margin-bottom: 1.6rem; */
    border-radius: 4px;
    /* margin-top: 3.2rem; */
    margin: .5rem 0px 1.6rem;
}
.section-two .box svg{
    margin-left: .6rem;
}
.box h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    padding: 1rem .5rem 0px;
}
.box p{
    font-size: 1.4rem;
    text-align: left;
    margin-top: 1rem;
    padding: .5rem; 
    color: #808080;
}
    /* Section tree */
img{
    width: 100%;
}
.section-tree>p{
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}
    /* Section - four */
.section-four{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5.5rem 0px;
}
.section-four h2{
    width: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0px 2rem;
}
.section-four>p{
    width: 100%;
    font-size: 1.4rem;
    color:#757575;
    margin: 2.4rem 0px 2rem;
    padding: 1rem;
}
.planes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: var(--white);
    margin: 5rem  auto;
    border-radius: 8px;
    padding: 10px;
}
.recomendado{
    position: relative;
    bottom: 25px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    width: auto;
    padding: 9px;
    background-color: var(--bitcoin-orange);
    color: var(--white);
}
.pago-anual{
    font-size: 1.4rem;
    font-weight: 500;

}
.plan{
    font-size: 5.2rem;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
.precio-v{
    font-size: 1.2rem;
    color: #363636;
}
.text-down-plan{
    font-size: 1.2rem;
    color: #757575;
}
.btn-plan{
    width: 15.1rem;
    height: 4.8rem;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    /* footer */
footer{
    width: 100%;
    height: 100%;
    background-color: var(--bitcoin-orange);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 0px 4rem 0px;
}
.list-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.list-footer li{
    font-size: 1.4rem;
    color: var(--white);
    display: flex;
    margin: .3rem;
}
.img-footer{
    display: flex;
    justify-content: center;
}
