/* 
    1. Posicionamiento
    2. Modelo de caja (Box model)
    3. Tipografia
    4. Visuales
    5. otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffcfa2;
    --secondary-blue: #1A9AF7;
    --soft-blue: #99d5ff;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width:320px;
    height: 334px;
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle, #d28539 0%, #201e1c 100%);
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white)
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 60%;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/header/header--button__flechita.svg");
}
main{
    width: 100%;
    height: auto;
    /* background-color: var(--off-white); */
    background-color: var(--warm-black);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom:30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/section-3/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-top: 30px;
    font-size:2.4rem;
    padding: 0 5px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.main-exchange-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 5px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
    /* Tabla "Monedas" */
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 20px;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--black);
}
.currency-table--container .btc-logo{
    display: inline-block;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px;
    margin-right: 15px;
    background-image: url("../assets/ICONS/bitcoin.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--container .eth-logo{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 15px;
    background-image: url("../assets/ICONS/ethereum-1.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--container .rp-logo{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 20px;
    background-image: url("../assets/ICONS/ripple-2.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--container .stl-logo{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 20px;
    background-image: url("../assets/ICONS/stellar.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/section-1/trending-down\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/section-1/trending-up\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
    /* Tabla #2 "Comisiones" */
.commision-table--container{
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 20px;
    font-family: "Inter", sans-serif;
}
.commision-table--container .commision-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.commision-table--container table{
    width: 100%;
    height: 100%;
}
.commision-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--black);
}
.commision-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.commision-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.commision-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.commision-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.commision-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.commision-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.commision-table--date p{
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
.main-tables-container{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
    /* Section two */
.main-product-detail{
    margin-top: 120px;
    position: relative;
    width: 100%;
    min-height: 320px;
    height: auto;
    padding: 20px 10px 40px 10px;
    background-color: var(--warm-black);
    background-color: #191919;
    background-color: #d08438;
    background: linear-gradient(180deg, var(--warm-black) 0%, rgba(247,147,26,1) 100%);
}
.main-product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -15px;
    left: calc(50% - 20px);
    background-image: url("../assets/section-2/patata.svg");
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("../assets/section-3/clock\ 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("../assets/section-3/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .dollar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("../assets/section-3/dollar-sign\ 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("../assets/section-3/check-circle\ 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/section-2/bitcoinbaby\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
    text-align: center;
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    border: 1px solid transparent;
    margin: 50px 20px 0;
    padding: 0 15px;
    background-color: var(--black);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16)   
}
.green{
    scroll-snap-align: center;
}
.orange:hover{
    border: 1px solid #F7931A;
}
.green:hover{
    border: 1px solid #58cc02;
}
.blue:hover{
    border: 1px solid #2b70c9;
}
.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 7px;
    background-color: #58cc02;
    border-radius: 8px;
    color: var(--white);
}
.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: whitesmoke;
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: whitesmoke;
}
.plan-card--price span{
    position: relative;
    bottom: 30px;
    font-size: 1.2rem;
    font-weight: 300;
}
.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--black);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--cad{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--black);
    border: 2px solid #2b70c9;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--car{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--black);
    border: 2px solid #58cc02;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/section-4/Vector.svg');
    vertical-align: text-bottom;
}
.plan-card--cad span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/section-4/Vectorblue.svg');
    vertical-align: text-bottom;
}
.plan-card--car span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/section-4/Vectorgreen.svg');
    vertical-align: text-bottom;
}
footer{
    display: flex;
    width: 100%;
    height: 169px;
    background-color: var(--bitcoin-orange);
}
footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    list-style: none;
}
.li-logo{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-image: url('../assets/ICONS/linkedin-icon-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
.cb-logo{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-image: url('../assets/ICONS/logo_crunchbase.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
.hn-logo{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-image: url('../assets/ICONS/hacker-news.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
.left li {
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--white);
}